.ax_default {
  font-family:'Raleway', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.box_1 {
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.box_2 {
}
.paragraph {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.line {
}
.image {
  color:#000000;
}
.heading_1 {
  font-family:'Raleway Bold', 'Raleway', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Raleway Bold', 'Raleway', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Raleway Bold', 'Raleway', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Raleway Bold', 'Raleway', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Raleway Bold', 'Raleway', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Raleway Bold', 'Raleway', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_3 {
}
.flow_shape {
}
.line1 {
}
.menu_item {
}
.vertical_line {
}
.icon {
}
.heading_31 {
  font-family:'Raleway', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.image1 {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.c_btn_modal_danger {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_btn_modal_secondary {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_file_upl_drop {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_file_upl_drop__hover {
  color:#0F62FE;
}
.c_file_upl_error_descr {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#161616;
  text-align:left;
  line-height:16px;
}
.c_file_upl_error_msg {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#DA1E28;
  text-align:left;
  line-height:16px;
}
.c_focus {
}
.c_focus_control {
  text-align:left;
  line-height:normal;
}
.c_form_reqmt_border {
}
.c_grid_column {
}
.c_grid_margin {
}
.c_link {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#0F62FE;
  text-align:left;
  line-height:18px;
}
.c_link__hover {
  color:#054ADA;
}
.c_overflow_option {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_overflow_danger__hover {
  color:#FFFFFF;
}
.c_pagination_left {
}
.c_pagination_right {
}
.c_pagination_select_value {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:right;
  line-height:18px;
}
.c_progress_text__hover {
  color:#0F62FE;
}
.c_search_input_lg {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:20px;
}
.c_select_option_bg {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.c_select_option_label {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#565656;
  text-align:left;
  line-height:16px;
}
.c_shadow_0_2px_6px_0__0_3_ {
}
.c_spacer {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:center;
  line-height:18px;
}
.c_spacer_num {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#1E1E1E;
  text-align:left;
  line-height:normal;
}
.c_tab {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_tab__disabled {
  color:#CACACA;
}
.c_tab__hover {
  color:#161616;
}
.c_tab__selected {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#161616;
}
.c_tab-cont {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_tab-cont__hover {
  color:#161616;
}
.c_tab-cont__selected__gry_ {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#161616;
}
.c_tab-cont_right {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_table_column {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#525252;
  text-align:left;
  line-height:18px;
}
.c_table_column_header {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_text_input__disabled {
  color:#C6C6C6;
}
.c_text_input__focused {
}
.c_tooltip_cont_def {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_tooltip_cont_interactive {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_typo__body-short-01 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__body-short-01_text-02 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_typo__heading-01 {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__heading-03_prd {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#161616;
  text-align:left;
  line-height:26px;
}
.c_typo__heading-05_prd {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#161616;
  text-align:left;
  line-height:40px;
}
.c_typo__helper-text-01 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#6F6F6F;
  text-align:left;
  line-height:16px;
}
.c_typo__label-01 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#393939;
  text-align:left;
  line-height:16px;
}
.c__active-secondary {
  color:#FFFFFF;
}
.c__active-danger {
  color:#FFFFFF;
}
.c__disabled-01 {
  color:#C6C6C6;
}
.c__disabled-02 {
  color:#8D8D8D;
}
.c__disabled-02_text {
  color:#C6C6C6;
}
.c__hover-danger {
  color:#FFFFFF;
}
.c__hover-row {
  color:#161616;
}
.c__hover-secondary {
}
.c__hover-selected-ui {
}
.c__hover-ui {
  color:#161616;
}
.c__icon-01 {
}
.c__interactive-01 {
  color:#FFFFFF;
}
.c__interactive-04 {
  color:#FFFFFF;
}
.c__inverse-01 {
}
.c__overlay-01 {
}
.c__selected-ui {
}
.c__support-01 {
}
.c__text-01 {
  color:#161616;
}
.c__text-03 {
  color:#A8A8A8;
}
.c__ui-01 {
}
.c__ui-02 {
}
.c__ui-02___ui-03_line {
}
.c__ui-03 {
}
.c__ui-03_line {
}
.image2 {
}
.materialicons {
  font-family:'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
.line2 {
}
.heading_11 {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.raised_button {
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.box_11 {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.ellipse {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
}
.headline {
  font-family:'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.shape1 {
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.background-5 {
}
.android_flat_button {
  font-size:14px;
  color:#169BD5;
}
.android_title_text_light {
  font-size:20px;
  color:#FFFFFF;
}
.c__icon-011 {
  color:#171717;
  text-align:left;
  line-height:18px;
}
textarea, select, input, button { outline: none; }
